<h1>One Specific Character</h1>

<h2><%= @character.name %></h2>

<div>
     <h4><%= @character.race.name %> <%= @character.category.name %> </h4>
     <br>Race traits: <%= @character.category.trait%>
     <br>Class traits: <%= @character.category.trait%><br>

</div>
<br>

<h4><%=@character.description %></h4>
<br>
<h5>Currently in:</h5>
<% @character.campaigns.each do |campaign|%>
<%= link_to campaign.name, campaign_path(campaign)%>
<% end %>
<br>

<h5>Current weapons:</h5>
<% @character.weapons.each do |weapon|%>
<%= link_to weapon.name, character_weapons_path(weapon)%>
<% end %>


<br>
<br>
<%= link_to 'Edit Character', edit_character_path(@character) %>
<br>
<%= button_to 'Delete Character', character_path(@character), method: 'delete' %>
<br>
<%= link_to 'View All Characters', characters_path %>