<h1><%= @character.name %></h1>



<div>
     <h4><%= @character.race.name %> <%= @character.category.name %> </h4>
     <br>Race traits: <%= @character.category.trait%>
     <br>Class traits: <%= @character.category.trait%><br>

</div>
<br>

<h4><%=@character.description %></h4>
<br>
<h5>Current Campaigns:</h5>
<% @character.campaigns.each do |campaign|%>
<%= link_to campaign.name, campaign_path(campaign)%>
<% end %>
<br>
<!--
<h5>Current weapons:</h5>
<% @character.weapons.each do |weapon|%>
<%= link_to weapon.name, character_weapons_path(weapon)%>
<% end %> -->

<h5>Current Weapons:</h5>
<% @character.character_weapons.each do |character_weapon|%>
<%= link_to character_weapon.weapon.name, character_weapons_path(character_weapon) %><%= character_weapon.notes%>
<% end %>



<br>
<br>
<%= link_to 'Edit Character', edit_character_path(@character) %>
<br><!--
<%= button_to 'Delete Character', character_path(@character), method: 'delete' %>
<br>-->
<%= link_to 'View All Characters', characters_path %>