<h1>One Specific Character</h1>

<h2><%= @character.name %></h2>

<div>
     <%= @character.category.name %><%= @character.category.trait%><br>
     <%= @character.race.name %>

</div>

<%= link_to 'Edit Character', edit_character_path(@character) %>
<br>
<%= link_to 'Delete Character', character_path(@character), method: 'delete' %>
<br>
<%= link_to 'View All Characters', characters_path %>