<br>
<br>

<%= form_for @campaign do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :schedule %>
    <%= f.text_field :schedule %><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>

    <%= f.submit %>
<% end %>

<h3>Select Dungeon Master for this campaign:</h3>
    <%= form_with model: @campaign do |f| %>
                <% @campaign.adventures.each do |adventure| %>
                <%= f.radio_button :adventure_admin, adventure.id, { checked: !!adventure.role } %><%= adventure.character.name%>  <br>
                    <% end %>
                    <%= f.submit "Change DM"%>
            <% end %>

        <h3>This campaign includes:</h3>
        <%= form_with model: @campaign do |f| %>
        <%= f.collection_check_boxes :character_ids, @characters, :id, :name %><br>

        <%= f.submit "Update Characters" %>
        <% end %>