<br>
<br>
<h2><%= @campaign.name%></h2>
<br>
<h3>This campaign takes place on <%= @campaign.schedule %> </h3>
<h4><%= @campaign.description %></h4>

            
<h3>The DM for this fine game is: <%=@campaign.find_dm %> </h3>


<h3>This campaign includes:</h3>
     <% @campaign.characters.each do |character| %>
        <%= link_to character.name, character_path(character) %>
        <% end %>
<br>
<%= link_to 'Edit Campaign', edit_campaign_path(@campaign) %>

 





