<br>
<br>
<h2><%= @campaign.name%></h2>
<br>
<h3>This campaign takes place on <%= @campaign.schedule %> </h3>
<br>
<h4>Campaign Description: </h4><%= @campaign.description %>
<br>

 <br>




<h3><% find_dm %></h3>

        <%@campaign.adventures.each do |adventure|%>
            <%if adventure.role == true%>
                <%@found_character_id = adventure.character_id%>
                <%end%>
            <% end %>
               <% if !@found_character_id.nil?%>
                    <%@dm = Character.find_by(id: @found_character_id)%>
                    <h3><%="The DM for this fine game is: #{@dm.name}"%></h3>
               <% end %>
<br>
<% if @campaign.characters.count > 0 %>
<h3>This campaign includes:</h3>
     <% @campaign.characters.each do |character| %>
        <%= link_to character.name, character_path(character) %><br>
        <% end %>
<br>
<% end %>
<%= link_to 'Edit Campaign', edit_campaign_path(@campaign) %>

 





